{
  "parser": "@babel/eslint-parser",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "ignorePatterns": ["**/example/src/*.js"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,

    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
